:root {
  --red-color: #c12a2a;
  --bg-color: #eae4de;
  --black-color: #000;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: paralucent, sans-serif;
  font-weight: 300;
  font-style: normal;
}

nav {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 1rem;
  bottom: 0;
  writing-mode: vertical-lr;
}

nav a {
  padding-bottom: 3rem;
  font-size: 2rem;
  color: var(--black-color);
}

nav a:last-child {
  padding-bottom: 0;
}

nav a:hover {
  color: var(--red-color);
}

h2 {
  color: var(--black-color);
  font-size: 10rem;
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
}

h2:hover {
  color: var(--red-color);
}

p {
  font-size: 2.5rem;
  padding-left: 3rem;
  background-color: var(--bg-color);
}

a {
  color: var(--red-color);
}

main {
  display: flex;
  margin: auto;
  width: 50vw;
  height: 100vh;
  max-width: 100rem;
}
section {
  margin: auto 0;
}

.deco {
  display: block;
  width: 8rem;
  height: 0.1rem;
  background-color: var(--black-color);
  margin: 1rem;
}

.deco__circle {
  position: absolute;
  width: 70vh;
  top: 5vh;
  right: 10vw
}

.deco__circle svg {
  fill: var(--red-color);
  animation: rotate 15s linear infinite; 
}

@keyframes rotate{
  to{ transform: rotate(360deg); }
}

.acc {
  transition: 0.2s;
}

.active {
  color: var(--red-color);
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
